@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
  --font-poppins: 'Poppins', sans-serif;
}


/* Add this to prevent flash */
body {
  background-color: rgba(0, 0, 0, 0);
}

[data-theme='dark'] body {
  background-color: rgba(0, 0, 0, 0);
}

/* Optional: Hide content until theme is loaded */
.no-flash {
  visibility: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

